.menu{
    background-color: aquamarine;
}
.menu1{
    background-color: aquamarine;
    word-spacing: 0.5cm;
    font-size:1.2em;
    color: crimson;
}
.main{
    background-color: aquamarine;
    font-size:20pt;
}